should_launch_new_window 1

# When moving to the next line using visual marker, this setting specifies the distance of the market to the top of the screen in fractions of screen size (center of the screen is zero, top of the screen is one)
visual_mark_next_page_fraction	0

# When moving to the next line using visual marker, this setting determines at which point we move the screen (center of the screen is zero, bottom of the screen is one)
visual_mark_next_page_threshold	1

ui_font              "RecMonoLinear Nerd Font Propo"
status_font              "RecMonoLinear Nerd Font Propo"
font_size 14
status_bar_font_size    14

startup_commands             toggle_dark_mode;
resize_command  fit_to_page_width_smart

# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Tomorrow Night scheme byChris Kempson (http://chriskempson.com)

custom_background_color #000000
custom_text_color #e0e0e0

page_separator_color #1d1f21
search_highlight_color #f0c674
status_bar_color #000000
status_bar_text_color #7aa6da
ui_text_color #e0e0e0
ui_selected_text_color #e0e0e0
ui_background_color #282a2e
ui_selected_background_color #969896
ui_selected_text_color #000000
background_color #1d1f21
visual_mark_color 0.5882353 0.59607846 0.5882353 0.5
text_highlight_color #969896
link_highlight_color #81a2be
synctex_highlight_color #cc6666
