{
  "overrides": [
    {
      "files": "*.qmd",
      "options": {
        "parser": "markdown"
      }
    },
    {
      "files": "*.rmd",
      "options": {
        "parser": "markdown"
      }
    }
  ]
}
